

/* GLOBAL --------------------------------------------*/


/* Font loader ------------------*/

@font-face {
    font-family: 'Rather';
    src: url('../fonts/rather-regular-webfont.eot');
    src: url('../fonts/rather-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/rather-regular-webfont.woff') format('woff'),
         url('../fonts/rather-regular-webfont.ttf') format('truetype'),
         url('../fonts/rather-regular-webfont.svg#Rather') format('svg');
    font-weight: normal;
    font-style: normal;
}


html, body {
    font-family: 'Rather';
    font-size: 17px;
    line-height: 1.25em;
}


/* Links ------------------*/

a {
    color: #111;
    text-decoration: none;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;     
}

a:hover,
footer a:hover,
#project-text button:hover{
    -webkit-transform: rotate(-7deg);
    -moz-transform: rotate(-7deg);
    -ms-transform: rotate(-7deg);
    -o-transform: rotate(-7deg);
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;     
}


/* Typography ------------------*/

p {
    padding-bottom: 1.25em;
}

.main {
    margin-top: 10rem;
}

.subtitle {
    font-size: 0.75rem;
    padding: 0;
    margin-top: 0.15rem;
    margin-bottom: 2rem;
}


/* NAVIGATION --------------------------------------------*/

nav.header-menu {
    position: fixed;
    width: 100%;
    z-index: 20;
    -webkit-transition: top 0.2s ease-in-out;
    -moz-transition: top 0.2s ease-in-out;
    -o-transition: top 0.2s ease-in-out;
    transition: top 0.2s ease-in-out; 
}

nav.nav-up:hover,
nav.nav-down {
    top: 0;
}

nav.nav-up {
    top: -20px;
}

nav.nav-up .hover-helper {
    height: 20px;
    width: 100%;
    display: block;
    background: transparent;

}

nav ul li a{
    display: block;
    font-size: 1.5rem;
    padding: 10px 0;
    text-align: center;
    width: 100%;
}




/* PROJECTS --------------------------------------------*/

.project {
    margin-bottom: 0.8rem;
}

.project img {
    z-index: 2;
    position: relative;
    bottom: 0;
    -webkit-transition: bottom 0.2s ease-in-out;
    -moz-transition: bottom 0.2s ease-in-out;
    -o-transition: bottom 0.2s ease-in-out;
    transition: bottom 0.2s ease-in-out; 
}

.project:hover img {
    font-size: 1rem;
    bottom: 0.75rem;
    -webkit-transition: bottom 0.2s ease-in-out;
    -moz-transition: bottom 0.2s ease-in-out;
    -o-transition: bottom 0.2s ease-in-out;
    transition: bottom 0.2s ease-in-out; 
}

.project .description {
    color: #fff;
    font-size: 1rem;
    padding-bottom: 0;
    /*padding-top: 0.5rem;*/
    position: relative;
    bottom: 2rem;
    z-index: 0;
    -webkit-transition: bottom 0.2s ease-in-out, color 0.4s ease-in-out;
    -moz-transition: bottom 0.2s ease-in-out, color 0.4s ease-in-out;
    -o-transition: bottom 0.2s ease-in-out, color 0.4s ease-in-out;
    transition: bottom 0.2s ease-in-out, color 0.4s ease-in-out; 
}

.project:hover .description {
    color: inherit;
    font-size: 1rem;
    bottom: 0rem;
    -webkit-transition: bottom 0.2s ease-in-out, color 0.4s ease-in-out;
    -moz-transition: bottom 0.2s ease-in-out, color 0.4s ease-in-out;
    -o-transition: bottom 0.2s ease-in-out, color 0.4s ease-in-out;
    transition: bottom 0.2s ease-in-out, color 0.4s ease-in-out; 
}


/* PROJECT --------------------------------------------*/

/* Gallery ------------------*/

.main-gallery {
    margin-top: 3rem;
    height: 80vh;
    width: 100%;
    position: fixed;
    top: 0rem;
    left: 0;
    display: block;
    z-index: 2;
}

.main-gallery .flickity-viewport {
  position: absolute;
  width: 100%;
  background: none;
}

.main-gallery .gallery-cell {
    width: 100%;
    height: 100%;
}

.gallery-cell img {
    height: 100%;
    max-height: 1000px;
    width: auto;
    max-width: 100%;
    margin: 0px auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    filter: alpha(opacity=00);
    opacity: 0;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s; 
}

.gallery-cell.is-selected img{
    filter: alpha(opacity=100);
    opacity: 1;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s; 
}

.main-gallery:hover .flickity-prev-next-button {
    filter: alpha(opacity=100);
    opacity: 1;
    -webkit-transition: all 300ms;
    -moz-transition: all 300ms;
    -o-transition: all 300ms;
    transition: all 300ms; 
}

.main-gallery:hover .flickity-prev-next-button:hover {
    filter: alpha(opacity=100) !important;
    opacity: 1 !important;
    background: transparent;
}

.flickity-prev-next-button:focus {
    box-shadow: 0;
}

.flickity-prev-next-button {
    border-radius: 0;
    width: 40px;
    height: 100%;
    background: transparent;
}

    .flickity-prev-next-button.next {
        right: 0px;
    }

    .flickity-prev-next-button.previous {
        left: 0px;
    }

    /* arrow color */
    .flickity-prev-next-button .arrow {
      fill: white;
    }
    .flickity-prev-next-button.no-svg {
      color: white;
    }

    /* arrow color */
    .flickity-prev-next-button:hover .arrow {
      fill: black;
    }
    .flickity-prev-next-button.no-svg:hover {
      color: black;
    }

.main-gallery:hover .flickity-prev-next-button .arrow{
    fill: #000;
    -webkit-transition: all 300ms;
    -moz-transition: all 300ms;
    -o-transition: all 300ms;
    transition: all 300ms; 
}

.gallery-cell .caption,
.single-image .caption{
    filter: alpha(opacity=0);
    opacity: 0;
}

.gallery-cell:hover .caption,
.single-image:hover .caption {
    filter: alpha(opacity=100);
    opacity: 1;
}

.caption {
    color: #fff;
    font-size: 0.875rem;
    line-height: 1.25em;
    position: absolute;
    bottom: 0.5rem;
    right: 0;
    padding: 0 1rem;
}



/* Text ------------------*/

.project-pusher {
    height: calc(80vh + 3rem);
    pointer-events: none;
    z-index: 1;
}

.text-body, .exhibitions, 
.language {
    max-width: 700px;
    margin: 0px auto;
}

#project-text {
    position: relative;
    z-index: 10;
    background: #fff;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out; 
}


#project-text:hover {
    position: relative;
    bottom: 10px;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;     
}

#project-text .header:hover {
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
}

#project-text .header {
    height: calc(20vh - 3rem);
    text-align: center;
    display: table; 
}

#project-text .header-inner {
    display: table-cell;
    vertical-align: middle;
}

#project-text header {
    margin: 0 auto 2rem auto;
}

#project-text .subtitle {
    margin-bottom: 0;
}

.down {
    font-size: 1rem;
    font-family: Monaco;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out; 
}

#project-text .header:hover .down {
    font-size: 1.5rem;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out; 
}

.language {
    text-align: right;
    position: relative;
    top: 1.25rem;
}

.language button {
   border: 1px solid #ddd;
}

.language button.active {
    border-color: #000;
}


/* ABOUT --------------------------------------------*/

.about {
}

.exhibitions {
    margin-top: 2rem;
}

.exhibitions table {
    margin-top: 2rem;
}

.exhibitions td {
    padding: 0.25rem 0;
}


/* HOME --------------------------------------------*/

.news-pusher {
    height: 70vh;
    pointer-events: none;
    z-index: 1;
}

.news-entry {
    margin: 8rem auto;
}

.news-entry header {
    text-align: center;
}

.news-entry .image-wrapper {
    margin: 0 auto 2.25rem auto;
    max-height: 50vh;
    overflow: hidden;
    position: relative;
}

.news-entry .image-wrapper img {
    height: 100%;
    max-height: 50vh;
    width: 100%;
    object-fit: contain;
}


/* HOME 2--------------------------------------------*/
/*
.news-entry {
    margin: 8rem auto;
}

.news-entry .text {
    z-index: 5;
    background: white;
}


.news-entry header {
    text-align: center;
}

.news-entry .image-wrapper-dummy{
    display: block;
    height: 75vh;
}

.news-entry .image-wrapper {
    margin-bottom: 2.25rem;
    max-height: 70vh;
    overflow: hidden;
    position: fixed;
    top: 12.5vh;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
}


.news-entry .image-wrapper img {
    height: 100%;
    max-height: 75vh;
    width: 100%;
    object-fit: contain;
}

.news-entry.active img{
    display: block;
}


*/

/* Footer ------------------*/

.page-footer .copyright {
    text-align: right;
    font-size: 0.75rem;
}



/* Media Queries ------------------*/


/* Medium (as per framework.css) */

@media screen and (max-width: 800px) {
}

/* Small (as per framework.css) */

@media screen and (max-width: 600px) {